.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  
  background-position: 50% 50%;
  border-radius: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}
/* right side */
.u-section-1 .u-layout-cell-2 {
  margin-top: 0px;
  min-height: 590px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-family: Nunito;
  font-weight: 600;
  font-weight: bolder;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Nunito;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: Nunito;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

.borderbox {
  width: 1100px;
  height: 1950px;
  background-color: white;
  display: inline-block;
  margin: 30px 50px;
  border: 5px solid #0693e3;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
 
}

.hourwork-logo-border {
  width: 100px;
  position: absolute;
  top: -15px;
  right: 555px;
  z-index: 2;
}

.img-logo-4 {
  width: 100px;
  position: absolute;
  top: -15px;
  z-index: 2;
  text-align:center;
  
}

.about-section-image {
  width: 390px;
  height: 260px;
  align-items: center;
  position: absolute;
  top: 180px;
  left: 80px;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

.download-btn {
  position: absolute;
  margin-top: 60px;
  left: 42%;
  background-color:#1c45a8;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  text-transform: lowercase;
  border-radius: 30px;
  text-align: center;
}

.browser-image {
  position: absolute;
  width: 500px;
  height: 55px;
  text-align: center;
  top: 175px;
}

.browser-icon {
  display:inline;
  width: 60px;
  height: 60px;
  margin-top: 100px;
  margin-left: 40px;
}

.social-media-icon {
  position: relative;
  display: inline;
  margin-top: 450px;
  margin-right: -120px;
  margin-left: -75px;
  font-size: 0;
  text-align: center;
}

.hourwork-icon {
  position: absolute;
  display: inline;
  width: 68px;
  height: 68px;
  margin-top: 446px;
  margin-left: -60px;
  text-align: center;
}
img {
  float: middle;
}
.follow {
  line-height: 19px;
}

.home-page-ss-img {
  width: 630px;
  height: 350px;
  margin-top: 35%;
  margin-left: 0%;
  position: absolute;
  text-align: center;
}
.valign{
  vertical-align:middle;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
    margin-left: 0px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -100px;
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-1 {
    min-height: 486px;
  }

  .u-section-1 .u-text-1 {
    font-family: Nunito;
    font-weight: 600;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: Nunito;
    font-size: 99%;
    margin: 18px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 75%;
    letter-spacing: 1.0px;
    background-image: none;
    border-style: solid;
    font-family: Nunito;
    margin: 15px auto 0 0;
    padding: 8px 28px;
  }

  .borderbox {
    width: 85%;
    height: 85%;
    background-color: white;
    display: inline-block;
    margin: 20px 40px;
    border: 5px solid #0693e3;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
   
  }
 
  .hourwork-logo-border {
    width: 65px;
    height: auto;
    position: absolute;
    top: -10px;
    right: 440px;
    z-index: 2;
    align-items: center;
    
  }
   
  .img-logo-4 {
    width: 75%;
    position: absolute;
    top: -15px;
    z-index: 2;
    text-align:center;
    
  }
  
  .about-section-image {
    width: 80%;
    height: auto;
    align-items: center;
    position: absolute;
    top: 125px;
    left: 50px;
    border-radius: 30px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
  }
  
  .download-btn {
    position: absolute;
    top: -100px;
    left: 125px;
    background-color:#1c45a8;
    color: white;
    padding: 0.3rem 0.5rem;
    font-size: 1.0rem;
    text-transform: lowercase;
    border-radius: 20px;
    text-align: center;
  }
  
  .browser-image {
    position: absolute;
    width: 100px;
    height: 45px;
    text-align: center;
    top: 100px;
  }
  
  .browser-icon {
    display:inline;
    width: 45px;
    height: 45px;
    margin-top: 35px;
    margin-left: 20px;
  }
  
  .social-media-icon {
    position: relative;
    display: inline;
    margin-top: 320px;
    margin-right: -80px;
    margin-left: -55px;
    /*width: 7%;
    height: 9%;*/
    max-width: 40px;
    height: auto;
    font-size: 0;
    text-align: center;
  }
  
  .hourwork-icon {
    position: absolute;
    display: inline;
    /*width: 35px;
    height: 45px;*/
    max-width: 50px;
    height: auto;
    margin-top: 315px;
    margin-left: -45px;
    text-align: center;
  }
  img {
    float: middle;
  }
  .follow {
    line-height: 19px;
  }
  
  .home-page-ss-img {
    width: 380px;
    height: auto;
    margin-top: 50px;
    margin-left: 0%;
    position: absolute;
    text-align: center;
  }
  .valign{
    vertical-align:middle;
  }

}


@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }


  .u-section-1 .u-image-1 {
    max-height: 250px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;

  }


  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }


  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -180px;

  }
  .u-section-1 .u-layout-cell-2 {
  
    min-height: 350px;
    margin-left: 0px;
    margin-top: 70px;

  }

  .u-section-1 .u-text-1 {
    font-family: Nunito;
    font-weight: 500;
    font-size: 28px;
    font-weight: bolder;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: Nunito;
    font-size: 100%;
    margin: 16px 0 0;
  }
  /* check */
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 45%;
    letter-spacing: 1.0px;
    background-image: none;
    border-style: solid;
    font-family: Nunito;
    margin: 15px auto 0 0;
    padding: 5px 20px;
  }
  .borderbox {
    width: 95%;
    height: 95%;
    background-color: white;
    display: inline-block;
    margin: 20px 40px;
    border: 5px solid #0693e3;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
   
  }

  .hourwork-logo-border {
    width: 45px;
    height: auto;
    position: absolute;
    top: -4px;
    right: 330px;
    z-index: 2;
    align-items: center;
    
  }
   
  .img-logo-4 {
    width: 75%;
    position: absolute;
    top: -15px;
    z-index: 2;
    text-align:center;
    
  }
  
  .about-section-image {
    width: 95%;
    height: auto;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 35px;
    border-radius: 30px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
  }
  
  .download-btn {
    position: absolute;
    top: -90px;
    left: 100px;
    background-color:#1c45a8;
    color: white;
    padding: 0.3rem 0.4rem;
    font-size: 1.0rem;
    text-transform: lowercase;
    border-radius: 30px;
    text-align: center;
  }
  
  .browser-image {
    position: absolute;
    width: 75px;
    height: 35px;
    text-align: center;
    top: 120px;
  }
  
  .browser-icon {
    display:inline;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .social-media-icon {
    position: relative;
    display: inline;
    margin-top: 280px;
    margin-right: -65px;
    margin-left: -40px;
    max-width: 35px;
    height: auto;
    font-size: 0;
    text-align: center;
  }
  
  .hourwork-icon {
    position: absolute;
    display: inline;
    max-width: 40px;
    height: auto;
    margin-top: 276px;
    margin-left: -40px;
    text-align: center;
  }
  img {
    float: middle;
  }
  .follow {
    line-height: 19px;
  }
  
  .home-page-ss-img {
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-left: 0%;
    position: absolute;
    text-align: center;
  }
  .valign{
    vertical-align:middle;
  }
  
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }


  .u-section-1 .u-image-1 {
    min-height: 558px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;

  }


  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }


  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -120px;

  }
  .u-section-1 .u-layout-cell-2 {
  
    min-height: 200px;
    margin-left: 0px;
    margin-top: -150px;
    border-radius: 30px;

  }
  .u-section-1 .u-layout-cell-1 {
    position: absolute;
    min-height: 200px;
    margin-top: 5px;
  
    
  }

  .u-section-1 .u-text-1 {
    font-family: Nunito;
    font-weight: 500;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: Nunito;
    font-size: 95%;
    margin: 16px 0 0;
  }
  /* check */
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 65%;
    letter-spacing: 1.0px;
    background-image: none;
    border-style: solid;
    font-family: Nunito;
    margin: 15px auto 0 0;
    padding: 5px 20px;
  }
  .borderbox {
    width: 100%;
    height: 100%;
    background-color: white;
    display: inline-block;
    margin: 20px 40px;
    border: 5px solid #0693e3;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
   
  }

  .hourwork-logo-border {
    width: 45px;
    height: auto;
    position: absolute;
    top: -4px;
    right: 190px;
    z-index: 2;
    align-items: center;
    
  }
   
  .img-logo-4 {
    width: 75%;
    position: absolute;
    top: -15px;
    z-index: 2;
    text-align:center;
    
  }
  
  .about-section-image {
    width: 70%;
    height: auto;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 75px;
    border-radius: 30px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
  }
  
  .download-btn {
    position: absolute;
    top: -110px;
    left: 220px;
    background-color:#1c45a8;
    color: white;
    padding: 0.3rem 0.4rem;
    font-size: 1.0rem;
    text-transform: lowercase;
    border-radius: 30px;
    text-align: center;
  }
  
  .browser-image {
    position: absolute;
    width: 75px;
    height: 35px;
    text-align: center;
    top: 120px;
  }
  

  
  .hourwork-icon {
    position: absolute;
    display: inline;
    max-width: 70px;
    height: auto;
    margin-top: 200px;
    margin-left: 30px;
    text-align: center;
  }
  img {
    float: middle;
  }
  .follow {
    line-height: 19px;
  }
  .browser-icon {
    display:inline;
    width: 70px;
    height: 70px;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .social-media-icon {
    position: relative;
    display: inline;
    margin-top: 200px;
    margin-right: -200px;
    margin-left: -35px;
    max-width: 120px;
    height: auto;
    font-size: 0;
    text-align: center;
  }
  
  .home-page-ss-img {
    width: 530px;
    height: auto;
    margin-top: 0px;
    margin-left: 0%;
    position: absolute;
    text-align: center;
  }
  .valign{
    vertical-align:middle;
  }
  
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
  min-height: 446px;
  }

.u-section-1 u.image-1 {
  min-height: 351px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-right: initial;
  margin-left: initial;

}


.u-section-1 .u-container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
}


.u-section-1 .u-container-layout-2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -120px;

}
.u-section-1 .u-layout-cell-2 {

  min-height: 200px;
  margin-left: 0px;
  margin-top: -150px;
  border-radius: 30px;
  

}


.u-section-1 .u-text-1 {
  font-family: Nunito;
  font-weight: 500;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Nunito;
  font-size: 16px;
  margin: 16px 0 0;
  
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 65%;
  letter-spacing: 1.0px;
  background-image: none;
  border-style: solid;
  font-family: Nunito;
  margin: 15px auto 0 0;
  padding: 5px 20px;
}
.borderbox {
  width: 95%;
  height: 95%;
  background-color: white;
  display: inline-block;
  margin: 20px 40px;
  border: 5px solid #0693e3;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
 
}

.hourwork-logo-border {
  width: 40px;
  height: auto;
  position: absolute;
  top: -2px;
  right: 110px;
  z-index: 2;
  align-items: center;
  
}
 
.img-logo-4 {
  width: 75%;
  position: absolute;
  top: -15px;
  z-index: 2;
  text-align:center;
  
}

.about-section-image {
  width: 85%;
  height: auto;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 35px;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

.download-btn {
  position: absolute;
  top: -110px;
  left: 115px;
  background-color:#1c45a8;
  color: white;
  padding: 0.3rem 0.4rem;
  font-size: 1.0rem;
  text-transform: lowercase;
  border-radius: 20px;
  text-align: center;
}

.browser-image {
  position: absolute;
  width: 75px;
  height: 35px;
  text-align: center;
  top: 120px;
}

.hourwork-icon {
  position: absolute;
  display: inline;
  max-width: 50px;
  height: auto;
  margin-top: 125px;
  margin-left: -20px;
  text-align: center;
}
img {
  float: middle;
}
.follow {
  line-height: 19px;
}
.browser-icon {
  display:inline;
  width: 40px;
  height: 40px;
  margin-top: 50px;
  margin-left: 20px;
}

.social-media-icon {
  position: relative;
  display: inline;
  margin-top: 130px;
  margin-right: -100px;
  margin-left: -35px;
  max-width: 40px;
  height: auto;
  font-size: 0;
  text-align: center;
}

.home-page-ss-img {
  width: 310px;
  height: auto;
  margin-top: 0px;
  margin-left: 0%;
  position: absolute;
  text-align: center;
}
.valign{
  vertical-align:middle;
}
}

