.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  
  background-position: 50% 50%;
  border-radius: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-family: Nunito;
  font-weight: 600;
  font-weight: bolder;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Nunito;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: Nunito;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.borderbox {
  width: 1100px;
  height: 1950px;
  background-color: white;
  display: inline-block;
  margin: 30px 50px;
  border: 5px solid #0693e3;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
 
}

.hourwork-logo-border {
  width: 100px;
  position: absolute;
  top: -15px;
  /*left: 48%;
  right: 52%;*/
  z-index: 2;
  text-align: center;
}

.img-logo-4 {
  width: 100px;
  position: absolute;
  top: -15px;
  /*left: 48%;
  right: 52%;*/
  z-index: 2;
  text-align:center;
  
}

.about-section-image {
  width: 350px;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 120px;
  left: 50px;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

.download-btn {
  position: absolute;
  /*top: 0%;*/
  top: 80px;
  left: 40%;
  background-color:navy;
  color: white;
  /*padding: 1rem 2rem;*/
  font-size: 2rem;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;

}
.download-btn:hover {
  background-color:blue;
} 

.browser-image {
  position: absolute;
  width: 500px;
  height: 55px;
  text-align: center;
  /*vertical-align: center;*/
  top: 175px;
}

.social-media-icon {
  display: inline;
  /*width: 60px;
  height: 60px;*/
  margin-top: 450px;
  margin-left: 60px;
  text-align: center;
  /*vertical-align: middle;*/
}

.hourwork-icon {
  position: absolute;
  display: inline;
  width: 75px;
  height: 75px;
  /*margin-top: 90%;
  margin-left: -150%;*/
  /*vertical-align:middle;*/
  text-align: center;
}
img {
  float: middle;
}
.follow {
  line-height: 19px;
}

.home-img {
  width: 520px;
  height: 400px;
  margin-top: 35%;
  margin-left: 5%;
  position: absolute;
  text-align: center;
}
.valign{
  vertical-align:middle;
}
/*
.bcg-1 {
  width: 450px;
  position: absolute;
  top: -5px;
  left: 81%;
  right: 19%;
  
}

.bcg-2 {
  width: 450px;
  position: absolute;
  top: 1550px;
  left: -20%;
  right: 180%;
  
}*/

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }
}
